[2015-11-30 13:55] Annih opened #12 "Next release should have specs"
`ms_dotnet` cookbook has been released multiple times ... without any tests!
We should really focus on adding rspec tests for libraries and chefspecs for recipes.

[2015-12-02 06:55] tophercullen opened #13 "Installing dot net 4.5.2 does not work remotely (over winrm)"
The 4.5.2 installer uses WUSA which is restricted for remote shells. Trying to bootstrap or run chef-client of winrm results in a failure "Access denied" during the install. This issue could apply to all other installs as well, but haven't confirmed. The only workarounds I've found are
1. don't run it remote for the first run
2. use psexec for the installer
I have a pull requests I can submit, but

[2015-12-02 09:53] Annih commented on #13
Hello @tophercullen

Thanks for your participation, but I'm sorry I'll not fix this issue because this is actually a known issue that is not related to ms_dotnet cookbook. It is due to the way you try to run chef or at least apply ms_dotnet recipes.

I recommend you to try to run chef-client via a Schedule task, allowing you to remotely run as SYSTEM with all elevation privileges!

I'll try to ret

[2015-12-02 15:19] tophercullen commented on #13
I understand. Whether or not you accept it as a problem with the cookbook, winrm is the opscode documented way on interacting with windows systems. This is going to cause a problem for nearly anyone who uses your cookbook at scale. This is particularly true for bootstrapping a new node since the bootstrap runlist will need to be different or changed later to the final run list that includes the pr

[2015-12-02 15:19] #13 closed

[2015-12-02 16:49] Annih commented on #13
I'm sorry, but again this is not a limitation of this cookbook but of knife bootstrap or chef-provisioning.
Winrm is a good remoting system on Windows I recommend it everywhere, but due to its limitation gem implementing this transport have to provide a way to synchronously run a remote command as a local one with elevated privilege.
Vagrant winrm transport is providing this way, winrm-elevated ge

[2015-12-02 18:23] tophercullen commented on #13
I understand you can't code for everything. However, saying this supports Chef 11 is misleading as you know it doesn't work with the official chef tools in a major documented use. Thank you noting this in the about. Could you also include that 'knife winrm' subcomand is also effected? e.g 'Common environment: knife windows bootstrap, knife winrm, chef-provisioning, test-kitchen'

[2015-12-02 18:28] tophercullen commented on #13
with regards to the gem, can you link to where this is be reported as an issue?

[2016-01-07 00:46] howdoicomputer opened #14 "windows_version_helper constants spam warnings during ChefSpec runs"
[code]

Coming here from the network_interfaces_v2 cookbook and targeting Ubuntu for development.
Lines [46-50](https://github.com/criteo-cookbooks/ms_dotnet/blob/master/libraries/windows_version_helper.rb#L46-L50) are missing the `unless defined?` conditional which will spit out warnings when ChefSpec reloads the library per test case.

[2016-01-07 09:01] #14 closed

[2016-04-10 20:59] bob2build opened #21 "Elaborate winrm issue workarounds"
The [note](https://github.com/criteo-cookbooks/ms_dotnet#known-issues) doesn't seem to elaborate the workarounds for winrm issue.
Best solution: your remoting system should try to simulate a local session (psexec or schedule task)
Other solution: create your custom wrapper to simulate a local session

Can you please add examples for these workarounds atleast for the any one of them?

[2016-04-10 21:04] Annih commented on #21
Hello @bob2build,

Sure we'll try to give more explanations, details and samples :)

Did you personnaly encountered any issue with this cookbook and WinRM? If yes could you answer the following quick questions please:
- What is your use case?   test or production
- Which Framework/system are you using? kitchen-vagrant/kitchen-ec2/knife bootstrap?

Thanks for your help and feedback!

[2016-04-10 21:08] bob2build commented on #21
As of now, I am doing a Proof Of Concept, If this is successful, We would like to go to production.
I am using kitchen-vagrant, Once it works, I would move it knife bootstrap on ec2

[2016-04-10 21:20] Annih commented on #21
OK, we'll try to cover at least these 2 use cases :)
For now I can recommend you the [chef-zero-scheduled-task gem](https://rubygems.org/gems/chef-zero-scheduled-task). On windows it wraps the chef run Inside a Schedule task, allowing you to bypass winrm limitations.

[2016-04-11 03:06] bob2build commented on #21
Thanks. That worked like a charm...

[2016-06-25 12:24] olivierlemasle opened #24 "Installation of .NET 4.6 on Windows 2012 R2 requires Windows updates"
Installation of .NET 4.6 with this cookbook does not work on a Windows 2012 R2 eval box without windows updates.

The box has been created using "eval-win2012r2-standard" from https://github.com/boxcutter/windows, and has no windows update installed.

The `ms_dotnet_framework` fails. If I run manually the .NET installer, I see that some updates ([KB2919355](https://support.microsoft.com/en-us/kb/2

[2016-06-27 09:49] Annih commented on #24
Hello @olivierlemasle

Thanks for your feedback, indeed I only test with boxes including this important update.
That's the kind of issue I wanted to fix before releasing the version 3.0.0; I think I have a "pretty" implementation for this case.

We just need to install the [following msu](https://download.microsoft.com/download/D/B/1/DB1F29FC-316D-481E-B435-1654BA185DCF/Windows8.1-KB2919355-x64.ms

[2016-07-11 16:29] Jakauppila opened #26 "package_sources not working"
I'm trying to specify a custom package source per the doc and am getting a SyntaxError at runtime:

[code]
[code]

Is the syntax slightly different?

[2016-07-11 17:14] Jakauppila commented on #26
Looks like it doesn't like the space between the two values in package_sources:
[code]

Also, it looks like the package uploaded to the Supermarket is incomplete, it's missing the providers and resources folders.

(Supermarket on the left, Github on the right)

![ms_dotnet_packaged](https://cloud.githubusercontent.com/assets/4100127/16739685/fd5b837a-4760-11e6-9cc3-d8eaa6aafb6b.JPG)

[2016-07-12 07:56] Annih commented on #26
Hello @Jakauppila

First of all thanks for your feedback, it seems that I used a bad syntax in the doc.
You need to quote the sha256 - and dependings on the ruby version you should use the rocket operator:

[code]

About the supermarket point, that's totally normal. I'm currently trying to fix all that kind of issues before releasing a new version :)

Let me know if that fixes your issue.

Regards

[2016-07-14 20:36] #26 closed

[2016-07-18 10:14] Annih commented on #24
@olivierlemasle could you give me the source of your box?
I tried mwrock one, but it has a lot of updates on it.

[2016-07-18 13:31] Annih commented on #24
OK I got the opentable box, which has no updates :)
I think I forgot to add the prerequisites for the prerequisites ^^

https://support.microsoft.com/en-us/kb/2919442

[2016-07-18 13:35] olivierlemasle commented on #24
Hi @Annih,

I used the box eval-win2012r2-standard from https://github.com/boxcutter/windows.

[2016-07-22 10:34] #24 closed

[2016-07-25 10:16] #12 closed

[2016-07-25 10:16] #21 closed

[2016-08-30 18:29] bveselka opened #29 "Having issue with 3.0.0 and windows8.1-kb2919442-x64.msu"
I get the following when upgraded to 3.0.0 from 2.6.1.  This is being run on a 2012 R2 server.

I am installing .Net 4.6.1

ms_dotnet_framework[4.6.1](ms_dotnet::ms_dotnet4 line 24) had an error: Mixlib::ShellOut::ShellCommandFailed: windows_package[Update for Microsoft Windows (KB2919442)](c:/chef/cache/cookbooks/ms_dotnet/providers/framework.rb line 53) had an error: Mixlib::ShellOut::ShellComma

[2016-08-30 18:31] bveselka opened #30 "Possible to reboot as part of install?"
Is it possible for me to have my usage cause a reboot?  It doesn't currently and I've found that 4.6.1 needs that for the server to truly complete the install process.

[2016-10-10 17:18] Jakauppila commented on #21
The link on the winrm solution is not working:

[2016-10-17 13:09] Matasx commented on #29
I have also experienced this. According to this page https://social.technet.microsoft.com/Forums/sharepoint/en-US/1a43f431-8333-430a-b52b-67bb27d77ecb/install-net-framework-46-on-server-2012r2?forum=winserver8gen the KB3021910 should be used as a replacement of KB2919442.

[2016-10-25 17:26] Matasx commented on #30
.Net 4.6.1 and 4.6.2 may need to reboot the system after installation. But it doesn't do the actual reboot. It rather just sets the reboot pending flag in windows registry. If you need to perform reboot prior installing any other service, you can use something like this:

[code]

Note that reboot is built-in resource and reboot_pending? is part of the Recipe DSL.

[2016-10-31 20:37] #30 closed

[2016-10-31 20:37] bveselka commented on #30
That got it!  Thanks for the clarification!

[2016-11-07 09:17] olivierlemasle opened #32 "Reboot after dependencies installation"
How to reboot when a reboot is required between the installation of a dependency and the installation of .NET?

(NB: issue #30 was specific to reboot after .NET installation)

Last July, I've already had this issue (https://github.com/criteo-cookbooks/ms_dotnet/pull/27#issuecomment-233684470) but I solved it by using the Windows Reboot Handler provided by the windows cookbook, as suggested in comm

[2016-11-17 21:34] JackChance opened #33 "unable to install 4.5.2"
using windows 2012R2 VM on windows 10 host

$ chef -v
Chef Development Kit Version: 0.19.6
chef-client version: 12.15.19
delivery version: master (802e801d920ea6b6d48db735aa7c6e7a6194bea4)
berks version: 5.1.0
kitchen version: 1.13.2

Contents of dotnet_452.rb
[code]

This is the same error I've seen in the past any time I've attempted to install dotnet 452 with a windows package or package resour

[2016-11-18 09:48] Annih commented on #21
Thank you @Jakauppila , I fixed it with 84fd539

[2016-11-18 09:49] Annih commented on #33
Hello @JackChance

According to your output, you are trying to install .NET 4.5.2 on a vagrant box using test-kitchen.
The error code `5` means `Access denied`. Due to some WinRM limitation, .NET can't be install remotely without a small trick.
[See the known-issues section of the README](https://github.com/criteo-cookbooks/ms_dotnet#known-issues) to select a workaround.

I'm quite sure this'll fi

[2016-11-22 09:26] Annih commented on #29
Should be fixed by #31, let's reopen if this is not fixed.

[2016-11-22 09:27] #29 closed

[2016-11-22 09:31] Annih commented on #32
Hello @olivierlemasle

Thank you for this clear and detailed issue.
I was already considering adding a `reboot` resource between every package setup of the `ms_dotnet_framework` resource.

The implementation provided in #35 should be close to what you are describing, but without the tiny bug you faced :)

`reboot_pending?` returns false in your case because it is evaluated when the package resourc

[2016-11-23 09:37] olivierlemasle commented on #32
Hi @Annih,

Thanks for the pull request; I'm testing it and I'll come back to you.

[2016-11-23 11:24] olivierlemasle commented on #32
Thanks @Annih, pull request #35 fixes my issue indeed.

[2016-11-23 11:24] #32 closed

[2016-11-23 12:37] Annih commented on #32
Thanks for your tests and feedbacks @olivierlemasle I'll release a new version soon :)

[2016-12-01 09:31] lbn-aaio-team commented on #29
Hello,

I met an error with windows 2012 R2 full updated and cookbook 3.1.0 ms_dotnet when installing .NET 4.6.1:

STDERR:
---- End output of start "" /wait "c:\chef\cache\package\windows8.1-kb3021910-x64.msu"   /norestart /quiet & exit %%%%ERRORLEVEL%%%% ----
Ran start "" /wait "c:\chef\cache\package\windows8.1-kb3021910-x64.msu"   /norestart /quiet & exit %%%%ERRORLEVEL%%%% returned 1618

This d

[2016-12-12 04:00] zrisher opened #36 "windows_package is deprecated"
Running the following recipe:

[code]

In this environment:
[code]

Yields this warning in the chef logs:
[code]

Indicating that `windows_package` is deprecated in favor of `package`.

Clearly I'm only on Chef 12.2, and I will be until whenever AWS decides to upgrade the Chef stack for OpsWorks. This indicates that by 2017/04 this repo will need to update its `package` tool usage and/or provide a

[2017-01-27 08:17] lbn-aaio-team opened #37 "KB3021910 has been replaced"
Hello,

The KB3021910 has been replaced by KB3173424.

http://www.catalog.update.microsoft.com/ScopedViewInline.aspx?updateid=07a0954d-ee90-4c6c-b017-47837af9c5ba

Actually, when running ms_dotnet_framework[4.6.2] resource and if the replaced KB is installed, an error occurs:
<pre>
STDERR:
---- End output of start "" /wait "c:\chef\cache\package\windows8.1-kb3021910-x64.msu"   /norestart /quiet &

[2017-01-31 17:55] jmauro commented on #33
Hello @JackChance ,

Do you still the issue, could we close this Issue?

Regards,
JM

[2017-02-01 23:55] #37 closed

[2017-02-16 01:55] joldham1023 opened #40 "dotnet3 has the wrong feature name in the library file for server 2012r2"
Server 2012r2 expects that the feature name is NetFx3ServerFeatures, and this cookbook is setting it to NetFx3.

This is the logic from version 2.6.0:

if nt_version >= 6.0
    # Windows Server 2012 and earlier have Server features
    if nt_version >= 6.2 && ::Windows::VersionHelper.server_version?(node)
      feature_name = 'NetFx3ServerFeatures'
    else
      feature_name = 'NetFx3'
    end

T

[2017-02-22 08:53] jmauro commented on #40
Hello @joldham1023,

Sorry for not answering right away, we will look the issue and let you know as soon as possible.

Regards,
JM

[2017-03-17 19:13] Stromweld opened #42 "chef-client windows_package renamed success_codes to returns"
Windows 3.0.0 cookbook removed windows_package resource in favor of the built in chef-client one. Chef-client one renamed success_codes option to returns.

[2017-03-20 09:17] jmauro commented on #33
Without any news I close the issue.

[2017-03-20 09:17] #33 closed

[2017-03-20 09:18] jmauro commented on #36
Hello @zrisher,

We will work on it and this will be a major release.

[2017-03-20 09:56] jmauro commented on #40
Hello @joldham1023,

The NetFx3 (or Net-Framework-Core) feature is the core feature installing the binaries;
NetFx3ServerFeatures (Net-Framework-Features) is the Feature group (the parent) of NetFx3 features, it doesn't install anything.

Does that answer your issue?

Regards,
JM

[2017-03-20 09:56] #40 closed

[2017-03-30 08:27] jmauro commented on #42
This is fixed by https://github.com/criteo-cookbooks/ms_dotnet/pull/43

[2017-03-30 08:27] #42 closed

[2017-04-10 21:52] olivierlemasle opened #45 "KB3173424 requires KB2919355"
On my Windows 2012R2 box (with no update), I cannot install KB3173424 (marked in the cookbook as a MS .Net 4.6 requirement) because it requires KB2919355.

This dependency is documented here:
https://support.microsoft.com/en-us/help/3173424/servicing-stack-update-for-windows-8.1-and-windows-server-2012-r2-july-12,-2016

If I revert commit e20a0ed4b, everything works in my case.
But looking at this

[2017-04-11 07:49] Annih commented on #45
Interesting, in that kind of situation I love Microsoft :)
I think one possible solution would be to install all updates, even the one that have been superseeded by newer updates.

On my 2012R2 box I nver encountered your issue because KB2919355 is already included.

I'm testing it right away!

[2017-04-11 10:53] Annih commented on #45
Having all packages (KB2919442 KB2919355 KB3021910 KB3173424) as prerequisites seem to fix the issue.
I'm trying to remove KB3021910, which doesn't seem useful anymore

[2017-04-11 11:02] olivierlemasle commented on #45
Thanks! In which order do you propose to install these updates?

Why won't this change re-open issue #29? It seems that the users reporting this issue were not able to install KB2919442 at the first place, probably because they already had other updates already installed.

[2017-04-11 13:22] Annih commented on #45
Ok so not installing KB3021910 seems not an issue :)
All my test have been done on a Windows Server 2012R2 box with KB2919442 included by default and not removable ...

I'm now trying to reproduce on a box without this KB

[2017-04-11 13:41] olivierlemasle commented on #45
Thanks, I'm testing on my side KB2919442 + KB2919355 + KB3173424

[2017-04-11 14:28] olivierlemasle commented on #45
I confirm that it works for me with these three updates. I've added a pull request.

[2017-04-11 17:39] Annih commented on #45
Thanks for the feedback and PR :)

[2017-04-12 17:32] jessepiccolo opened #47 "Can't use hash"
I am getting this error:
[2017-04-12T10:30:31-07:00] ERROR: Running exception handlers
         Running handlers complete
       [2017-04-12T10:30:31-07:00] ERROR: Exception handlers complete
         Chef Client failed. 0 resources updated in 07 seconds
       [2017-04-12T10:30:31-07:00] FATAL: Stacktrace dumped to C:/Users/vagrant/AppData/Local/Temp/kitchen/cache/chef-stacktrace.out
       [2017

[2017-04-12 18:56] Annih commented on #47
Hello @jessepiccolo, thanks for creating this issue.

Could you provide us the code of the recipe defining the `ms_dotnet_framework` resource (_vs.rb)?

This seems to me a simple ruby syntax error, easily fixable using parenthesis. Having the code would help :)

[2017-04-13 11:40] jugatsu commented on #47
@Annih I'm also hit this error.
[code]
Here is the output from `kitchen converge`
[code]

Here is cookstyle
[code]

[2017-04-13 11:41] jugatsu commented on #47
`Chef Client, version 12.19.36`

[2017-04-13 12:05] Annih commented on #47
Ok as in #26 this is a ruby syntax error (not related to the cookbook) but I can understand that the README is missleading.

You have to surround the hash with parenthesis, to allow the ruby interpreter to determine that you are passing a Hash and not a block.

@jugatsu could you try with the following syntax:
[code]

[2017-04-13 12:11] jugatsu commented on #47
[code]

[code]

[2017-04-13 13:00] Annih commented on #47
@jugatsu you added a space between `package_sources` and the parenthesis
Can you just copy paste what I gave you ? :)

[2017-04-13 13:01] jugatsu opened #48 "ms_dotnet4 recipe skipes installing 4.5.2 version on clean Windows 7 SP1"
`ms_dotnet` version 3.2.0

Running on Windows 7 SP1 without .Net 4.5 always skipping installing 4.5 version

[code]

I double check: registry v4.0 for Net Framework Setup doesn't exist.

With Berksfile
[code]

it works as expected.

[2017-04-13 13:16] jugatsu commented on #47
@Annih sorry :)

Right now it works. Thanks.

[code]

[2017-04-13 13:40] jugatsu commented on #48
OK. There is PR already https://github.com/criteo-cookbooks/ms_dotnet/pull/44

[2017-04-13 14:01] #47 closed

[2017-04-19 16:41] jugatsu commented on #48
fixed in https://github.com/criteo-cookbooks/ms_dotnet/pull/44

[2017-04-19 16:41] #48 closed

[2017-04-21 07:26] Annih commented on #45
Following #50 I decided to reopen this issue to continue the discussion until all usecase seems fixed :)

1. It seems that it is possible to have KB3173424 without KB2919355 even if it is one of its prerequisites...
2. Having KB3173424 is not enough to install .NET you still need KB2919355...
3. KB2919355 dépends on KB2919442 (#46)
4. KB2919442 can't be installed when KB3173424 ...

I created #51

[2017-04-26 19:17] Stromweld opened #54 "ms_dotnet 3.2.1 fails patch install for .net4.6.2"
On windows server 2012 r2 with chef-client 12.19.36 I'm getting the below error after the latest update changed the order of a couple of patch installs. Previous 3.2.0 version of this cookbook worked fine.

[code]

[2017-04-26 19:32] Stromweld commented on #54
even after setting the attribute to install patches to false it looks like it's still trying and failing:
[code]

[2017-04-26 20:14] Annih commented on #54
Humm the `include_patches` issue is definitely a recent and unknown bug... I'll have a look at it
For the KB2919442 this is related to #45, #50  & #51

If you have time to help, please test #51 branch, thanks!

[2017-04-28 09:37] jugatsu opened #55 "v3.2.1 not idempotent on Windows 7 sp1"
`install_required?` is always `true` and it never prints
[code]
As a side effect if `reboot_pending?` is also `true` and `perfrom_reboot` attribute is`true` then the node will be rebooted.

v3.2.0 with https://github.com/criteo-cookbooks/ms_dotnet/pull/52 patch works as expected.

I think the cause of this behavior in https://github.com/criteo-cookbooks/ms_dotnet/commit/f585848cb01794629268c6275b9

[2017-04-28 10:00] jugatsu commented on #55
[code]

[2017-04-28 18:48] Annih commented on #55
Hello @jugatsu

Thanks for reporting this issue and giving us your feedback. I would like to clarify certain things before giving you answers.

1. Could you provide us more info about your current setup:
1.a. The version of chef and the ms_dotnet cookbook
1.b. The original versions of .NET installed, and the target ones.
1.c. The setup used to run chef in the output you have copy/paste
2. About `v

[2017-04-28 18:51] Annih commented on #54
Hello @Stromweld

I just read my code again, and I have an answer for the `include_patches` issue!
Sadly this is not an issue... `KB2919442` is not a patch over .NET 4.6, it is a prerequisites!

That's why setting `include_patches` to `false` does not prevent this error.

Don't worry I'll still work on KB error in #51 !

Regards.

[2017-04-28 21:14] Stromweld commented on #54
yeah I haven't had much time to dig into yet myself. I'm hoping next week I'll have more time to help test #51 and see if I can help with the issue.

[2017-04-29 02:20] jugatsu commented on #55
@Annih

1a. `chef version` 12.19.36, `ms_dotnet` - 3.2.1
1b. `4.5.2`

attributes:
[code]
recipe:
[code]

2a. `Chef::Log.info`
https://github.com/criteo-cookbooks/ms_dotnet/blob/master/resources/framework.rb#L48 never outputs  even when .Net is installed.
2c. In my case reboot pending triggers another app ( to be clear, removing of this app) :). This is not important right now as it should'n move t

[2017-04-29 09:07] Annih commented on #55
Ok I'll try to explain my point of view, because I wrote this logic :D

### Explanations

First, let's talk about the `install_required?` helper:
* It is implemented/used to avoid non-idempotent behavior when you try to install .NET 4 when .NET 4.5.2 is installed for instance.
* If you read the comment I let in the code https://github.com/criteo-cookbooks/ms_dotnet/blob/master/resources/framework.

[2017-04-29 13:44] jugatsu commented on #55
@Annih I really appreciate your answer.
But my point is that `v3.2.0` never hits `reboot` resource when .Net 4.5.2 was already installed but `v3.2.1` **does**. Even if chef-client reports `0/26 resources`

Right now i'm good with setting `perform_reboot` attribute to `false`.

[2017-05-02 20:45] el-gee opened #59 "`action_class do` not supported on chef-client < 12.6"
The latest code and docs list requirements of simply: `Chef 11.10.0+`.  However, the `Framework.rb` under resources uses DSL syntax that wasn't introduced until 12.6 per [this GH comment](https://github.com/chef/chef/issues/4525#issuecomment-179579903):

Thus, if a user on chef-client 12.5 attempts to run the cookbook they will get an error indicating that `unsupported?` is not defined as the `act

[2017-05-16 12:11] lbn-chef-team opened #61 "new version of .NET framework 4.7"
Hello,

There is a new available version of .NET:
https://www.microsoft.com/en-us/download/details.aspx?id=55167

it will be great to add this version to this cookbook.

Regards,

[2017-05-16 12:46] Annih commented on #61
Hello @lbn-chef-team

You are right that'll be great :D
We'll do our best to add it ASAP.

[2017-05-16 15:20] jmauro commented on #61
Hello @lbn-chef-team,

If you have time we would be glad to review any PR with this new dot net framework.
We will do our best to release it but if your team need this version ASAP we don't want to be blockers for you :).

BTW, thx for the report.

Regards,
JM

[2017-05-17 07:49] #59 closed

[2017-05-17 07:51] jmauro commented on #61
Fix with https://github.com/criteo-cookbooks/ms_dotnet/pull/62

[2017-05-17 07:51] #61 closed

[2017-05-26 11:08] #45 closed

[2017-06-07 15:22] lbn-chef-team opened #66 "Windows server 2016 - preinstalled .NET"
Hello,

As defined here: https://msdn.microsoft.com/en-us/library/8z6watww%28v=vs.110%29.aspx

.NET 4.6.1 and 4.6.2 is applicable only on windows 10 RTM.

For Windows 10 Anniversary and windows 2016, only .NET 4.7 is installable.

Don't know if it is the only change to do at:
https://github.com/criteo-cookbooks/ms_dotnet/blob/master/libraries/v4_helper.rb
[code]

Hope it can help.
Regards,

[2017-06-08 08:11] Annih commented on #66
Hello @lbn-chef-team

I think I understand your problem, but could you provide the error message you got?
To resolve this issue, your logic is right but because `nt_version` is a float it won't work.

I think we might have to use the full `platform_version` here or mix `nt_version` + `platform_version`.

[2017-06-08 08:55] Annih commented on #66
Thanks for your precise feedback, it helped a lot for the implementation!

[2017-06-09 00:00] steveoh commented on #54
Would the https://docs.chef.io/resource_msu_package.html help? This is biting me at the moment.

[2017-06-09 08:00] Annih commented on #54
@steveoh the `msu_package` resource is overkill I won't try to use it.
Normally all required patches are merged into master to fix the current issue, could you try it? or wait until the next release.

[2017-06-13 01:16] steveoh commented on #54
So you think the current fix is in master then?

[2017-06-13 20:07] steveoh commented on #54
I can verify that 4.6.1 was installed successfully from master on server 2012r2. It does require a reboot if things require it later in the run list. Is that expected or required?

[2017-06-15 08:15] #66 closed

[2017-06-15 08:40] #55 closed

[2017-07-12 17:27] frankbarbarino opened #70 "Installation behaves as if .NET already installed."
I was trying to install 4.7 following the example:
Install .NET 4.5.2 from custom sources
(except providing a valid checksum and download url)
4.7 has not been installed yet, but it never gets to the download.   The run indicates:

  * ms_dotnet_framework[install] action install (up to date)

[2017-07-12 19:11] Annih commented on #70
Hello @frankbarbarino

We need more details to help you :)
Could you tell me which version of the cookbook you use ? from supermarket or github?
Can you give us an example of the recipe you used, and the attributes/properties values setup?

Regards

[2017-07-13 14:14] frankbarbarino commented on #70
I am using version 3.2.1 of the cookbook from github.
my cookbook attached.

On Wed, Jul 12, 2017 at 3:11 PM, Baptiste Courtois <notifications@github.com

[2017-07-20 15:42] frankbarbarino commented on #70
Are you able to reproduce the issue using the supplied rb files?

[2017-07-20 16:58] aidda opened #71 "install .Net 3.5 on win server 2016, failed"
I am trying to install .Net 3.5 on windows server 2016, but I recievde this error:
`      The operation is complete but NetFx3 feature was not enabled.

        The DISM log file can be found at C:\Windows\Logs\DISM\dism.log
        STDERR:
        ---- End output of C:\Windows\system32\dism.exe /online /enable-feature /featurename:NetFx3 /norestart  /All ----
        Ran C:\Windows\system32\dism.

[2017-08-09 13:52] taliesins commented on #70
This PR: #72 may solve your problem. This was the behavior I was experiencing.

[2017-08-09 14:05] Annih commented on #70
@frankbarbarino could you confirm you were on one of the "fixed" windows version?

[2017-08-09 17:43] taliesins commented on #70
Yes I have run this on Windows Server 2012R2 and it works.

You can see that the references are there for download on those specific platforms. This is how I selected which missing packages to add.

[2017-08-10 08:13] Annih commented on #71
Hello @aidda

As for Windows Server 2012R2, Windows Server 2016 setup does not include .NET3 sources.
You need to specify where to find the sources. See https://github.com/criteo-cookbooks/ms_dotnet#install-net-35-sp1-using-a-windows-unc-share

[2017-08-22 08:15] Annih commented on #54
@steveoh the version 4.0.0 of *ms_dotnet* cookbook has been released, could you try it and tell me if you still encounter your issue?

[2017-08-22 08:16] Annih commented on #70
@frankbarbarino version 4.0.0 has been released with @taliesins fix.
Feel free to reopen if you still encounter this issue.

[2017-08-22 08:16] #70 closed

[2017-08-22 08:30] #71 closed

[2017-09-12 08:32] nadobando opened #74 ".NET 4.7 not being installed, it's failing on map function on a String"
[code]

this fixes the problem with 4.7

[2017-09-12 13:08] Annih commented on #74
Hello @nadobando, thanks for your feedback.

Could you provide a PR with this patch?

[2017-09-16 10:37] Annih commented on #54
@steveoh any change you have been able to test version 4.0.0?

[2017-09-16 11:02] #74 closed

[2017-09-16 11:02] Annih commented on #74
Thanks @nadobando for the report. I made the patch.

[2017-09-16 20:37] steveoh commented on #54
Not yet but I should be able to at some point next week I hope.

[2017-09-20 14:22] nadobando commented on #74
Thank you very match, now I can sync my change on my chef server, sorry I didn't saw the email.

[2017-09-27 18:31] nicutor commented on #54
Hi,

I am getting this error when trying to install 4.0 on Windows 7. Is there a way to fix this or an alternative to do it? Thanks

[code]

[2017-09-28 08:45] Annih commented on #54
Hello @nicutor
This is clearly not related to current issue.

The error code 5 referes to an *access denied* error. Please read the [known issue section of the readme](https://github.com/criteo-cookbooks/ms_dotnet#known-issues) for the workarounds

[2017-09-28 13:05] nadobando opened #76 "ms_dotnet 4.7 with Windows 6.1.7600 needs SP1 prerequisites"
Hi
I just figured out another constraint for this cookbook...
in the section of prerequisites for windows 6.1 you should include Service Pack 1 as a prerequirment

Thanks, Nadobando.

[2017-10-22 09:42] Annih commented on #76
You are right @nadobando I'll update the README accordingly.
Thanks for your feedback

[2017-10-22 09:45] Annih commented on #54
Hello @steveoh, did you reproduce the issue?

[2017-10-22 09:47] #76 closed

[2017-10-23 15:11] steveoh commented on #54
Sorry I haven't made time.

[2017-11-09 15:41] taliesins opened #78 "Unable to use DevPack for .Net installation due to lookup via checksum"
Packages are based on their checksum and not their name:
https://github.com/criteo-cookbooks/ms_dotnet/blob/master/resources/framework.rb#L92

So if we do the following:
`package_sources(node['ms_dotnet']['4.7.1']['checksum'] => node['ms_dotnet']['4.7.1']['url'])`

as checksum is hard coded value in cookbook, I wont be able to do this:

[code]

Could we rather lookup package sources based on their

[2017-11-09 21:00] Annih commented on #78
Hello @taliesins

I understand that you want to setup .NET 4.7 with the DevPack, however this cookbook is not intended to do it. The main goal of this cookbook is to ease installation of the Official .NET Framework, not its dev pack.

The Development pack is not the same "package" as the .NET Framework, it does not install the same things. Here is Microsoft description:

This is a 3-in-1 package,

[2017-11-09 21:00] #78 closed

[2018-01-18 17:37] mschoelen opened #79 "Expected process to exit with [0, 3010], but received '16389' (client 12.21.3/ Windows 2008 R2)"
Running **arcgis-enterprise::system** results in a fatal error (16389). ms_dotnet is a dependency for this cookbook.

Chef-client version: **12.21.3**
Client was installed via bootstrap on **Windows Server 2008 R2**

**Environment:**

`{
  "msdotnet": {
    "v4": {
      "package_sources": "https://download.microsoft.com/download/1/6/7/167F0D79-9317-48AE-AEDB-17120579F8E2/NDP451-KB2858728-x86-x64-

[2018-01-18 19:59] Annih commented on #79
Hello @mschoelen thanks for reporting this issue. I saw that you also created Esri/arcgis-cookbook#126, and that even a manual install is failing (due to .NET 4.6) this is a good start.

The error *16389* or *0x80004005* is well known on the internet, but it may have multiple root cause:
* https://social.technet.microsoft.com/Forums/en-US/4808233e-1410-4305-a8d1-0e88f3a6fdc8/net-451-install-only-w

[2018-01-18 20:49] mschoelen commented on #79
@Annih , Thanks for looking into this. Agreed on the multiple root cause-- although most solutions revolve around modifying SCCM parameters, rather than something that could be adjusted in Chef attributes.

To your points:
-We have Chef DK installed on a workstation. It is communicating with Chef Server on a different machine. We use knife winrm to run Chef-client.
-Chef client was installed via "

[2018-01-18 22:23] Annih commented on #79
Could you try to run Chef manually and locally on the server?

[2018-01-24 12:44] mschoelen commented on #79
@Annih , I ran `chef-client` directly on the node, and it ran completely fine. It was able to `- install version latest of package Microsoft .NET Framework 4.5.1`. It was also able to recognize that .NET 4.5.1 was already installed.

I tried running it from ChefDK on my workstation again, and received the same error message (`Mixlib::ShellOut::ShellCommandFailed: Expected process to exit with [0 ,

[2018-01-24 13:24] Annih commented on #79
Hello @mschoelen

Yes it is related to permissions in a remote context. When creating a remote session with WinRM (used by knife bootstrap), your permission are a bit restricted.

I tried to describe some workaround in the **Known issues** section of the README:

https://github.com/criteo-cookbooks/ms_dotnet#known-issues

Let me know if you need more help to fix your issue.

[2018-02-07 09:39] smudgerdan opened #80 "Release for .NET 4.7.1"
Can you please release a new version of this cookbook to Supermarket so the feature to install .NET 4.7.1 can be used.

Thanks.

[2018-02-07 16:25] nadobando opened #81 "package_helper.rb"
It will be nice if the hash containing urls for msi download can be moved to node attributes so properties can be override, and if a new .NET version come outside the only need will be to add the new version to the hash.

Regards.

[2018-02-08 07:58] Annih commented on #81
Hello @nadobando
The goal of the package_helper is to have all the package defined outside attributes.
IMHO attributes describe the current state or the desired state of the node, it should not be used as a catalog of possible things.

However, it is currently possible to override the package_help Hash, or to add thinks in it with a ruby code, but I think it would be possible to allow extension vi

[2018-02-11 10:44] #79 closed

[2018-02-14 08:50] Annih commented on #80
@smudgerdan sorry but the .NET 4.7.1 is still not completely supported.
We'll release once #82, #83 & #84 will be merged.

Thanks for your patience.

[2018-02-23 13:50] chrisdrobison commented on #80
Those 3 things look to be merged. Are you planning on releasing this soon then?

[2018-02-25 08:16] Annih commented on #80
done :)

[2018-02-25 08:16] #80 closed

[2018-03-02 17:35] jakauppila opened #85 "Consider support for .Net Framework security rollups"
Just to pose the question, should this cookbook support the ability to deploy security rollups for the .Net Framework as part of the custom resource via an additional optional parameter?

If you deploy .Net to a fully-patched server, there can be additional items to install after-the-fact if any security patches have been released since the initial release of that particular version.

https://blog

[2018-06-05 13:43] nemesis519 opened #86 "Needs better checking before deployment"
In it's current form, the dotnet package is downloaded from MS along with updates. The package is extracted and installed along with updates (Three or four installer processes total) . During subsequent chef runs, the same events occur (extract the package, execute three or four processes) until windows realizes the packages are already installed, then it aborts.

This behaviour is ok for an under

[2018-06-05 18:14] Annih commented on #86
Hello @nemesis519
Thank you, this is an interesting feedback, and it's clearly not the expected behavior. I'll have a look.
Could you share with me the following information to help me reproduce and debug:

1. Versions of: Windows, Chef-client, .NET
2. An extract of the Chef-client logs, showing the updated resources and executed actions
3. How do you know Chef is actually performing these actions

[2018-06-05 18:50] nemesis519 commented on #86
Windows Server 2008 R2, Chef-Client 13.8.1, and .Net 4.7.1

When I manually execute a chef-client run and gets to the .Net deployment step, the MS package extractor appears on screen for 5 - 10 seconds, then three - four TrustedInstaller.exe processes start. If the server is idle, this whole process takes 30 seconds or so before the server notices the software is already installed and aborts. Then

[2018-06-05 19:39] Annih commented on #86
Your suggested solution is right :) but Chef "package" resource is supposed to performed this check when used properly.

When you declare a resource `package ".NET Framework"` Chef is checking that the product `.NET Framework` is present in Windows products. Some .NET installers are not registering as installed products, but as Update, and this check is not working.

So in your case, either the *p

[2018-06-06 15:55] nemesis519 commented on #86
ms_dotnet version 4.1.0

I ran chef-client in debug mode and have attached the log. I edited out sensitive information.

[chef-client-debug.log](https://github.com/criteo-cookbooks/ms_dotnet/files/2077040/chef-client-debug.log)

And below is a snippet of when it gets to the ms_dotnet. I used berks to install the ms_dotnet cookbook and then made a wrapper to call for 4.7.1.  If I'm doing something

[2018-06-06 20:31] Annih commented on #86
Ok I got it:

- According to your snippet, the faulty package is the `Update for Microsoft Windows (KB4054856)`, which generates many logs and is not detected as "installed". Your first investigation was already pointing to an update package :)
- [KB4054856](https://support.microsoft.com/help/4054856/) is a meta KB package including `KB4054852` for WS2008R2, `KB405853` for WS2012, `KB405854` for W

[2018-06-06 21:10] Annih commented on #54
@steveoh any news? I'm considering closing this issue soon.

[2018-06-06 21:13] steveoh commented on #54
I'm not going to test. You can close this. If I decide to try chef again, I'll open more issues :)

[2018-06-06 21:16] Annih commented on #54
Ok thanks for the honest answer, I'm closing it. Enjoy your new adventures if you left the Chef world!

[2018-06-08 20:18] axelrtgs opened #89 "netfx3 is not supported on server 2016"
netfx3 is not supported on server 2016 causing the chef run to fail when using the defaults since 10 is listed in the versions supported for the feature

[2018-06-09 08:40] Annih commented on #89
Hello @axelrtgs thanks for your report, could you please precise some points, to let me help you resolve your error.

1. What is the error you get?
2. What do you mean by "the defaults"? the recipe for ms_dotnet3 is not included by default
3. Which version of this cookbook and Windows Server 2016 you have?

FYI `netfx3` is supported on Windows Server 2016, you just need to provide the source URL/p

[2018-06-11 20:02] #86 closed

[2018-06-26 19:25] jakauppila opened #90 "Missing prereq for 4.7.1 on Server 2012R2"
I was updating our wrapper cookbook from 4.0.1 to 4.2.0 and in testing (with box 'opentable/win-2012r2-standard-amd64-nocm') found a missing prereq when attempting to install 4.7.1:

![image](https://user-images.githubusercontent.com/4100127/41934608-c37e2836-794c-11e8-8c4a-3e1a72609a52.png)

[2018-06-27 10:00] jmauro commented on #90
Hello @jakauppila

This message means that you need to reboot the server before doing anything else.
Do it and let us know if the problem persists.

Regards,
JM

[2018-06-27 15:59] jakauppila commented on #90
Same issue for 4.7.2 as well:

![image](https://user-images.githubusercontent.com/4100127/41985518-24bca42c-79f9-11e8-9d7f-e474f0fec7ed.png)

[2018-07-13 23:02] jcuzzi opened #91 ".net 4.7.2 installer 404"
The default source URL for the 4.7.2 installer is not working. It should be updated to this:
https://download.microsoft.com/download/6/E/4/6E48E8AB-DC00-419E-9704-06DD46E5F81D/NDP472-KB4054530-x86-x64-AllOS-ENU.exe

[2018-08-06 19:35] nemesis519 commented on #91
Confirming this is an issue for us as well.

@Annih Any chance of getting the URL updated?

[2018-08-06 20:00] nemesis519 commented on #91
Adding MS footnote  -

The package installer (NDP472-KB4054530-x86-x64-AllOS-ENU.exe) was updated on July 10, 2018. If you downloaded the installer before July 10, 2018, we recommend that you download the latest version (4.7.3081.0) of the installer to get the additional fixes included in the update.

[2018-08-07 06:59] Annih commented on #91
OK, I can easily change the URL, but the issue is that current code is not able to detect that we are not up-to-date since they reused the same release id :/

[2018-08-07 07:33] clems4ever opened #92 "Add installed_versions attribute thanks to ohai"
It would be great to see the version of .NET installed on a node by checking the attributes retrieved by ohai.

[2018-08-07 13:46] nemesis519 commented on #91
I can work with that in my use case, will just kill off old instances.

[2018-09-26 16:42] nemesis519 commented on #91
@Annih & @aae42  Thank you for the fix. Is there a timeline for when this will be pushed to Chef Supermarket?

[2018-10-07 12:57] Annih commented on #89
@axelrtgs could you provide more info, otherwise I'll close this issue

[2018-10-09 19:05] axelrtgs commented on #89
I am using the latest version of the cookbook and server 2016 standard
By defaults i mean including the recipe without any modification or using the resources with special parameters.
For more information on the issue with netfx3 and server 2016 see the following link which describes much more in detail than i could ever summarize here: http://woshub.com/how-to-install-net-framework-3-5-on-windows

[2018-10-15 23:46] gdavison commented on #91
@Annih any chance you could make a 4.2.1 release with the updated path for .Net 4.7.2? This is a blocker for us

[2018-10-16 09:42] Annih commented on #91
Done!

[2018-10-16 09:42] #91 closed

[2019-02-12 20:20] cp713a opened #95 "Unsatisfiable Run List Item on ms_dotnet"
Hi,

I downloaded this ms_dotnet package and wanted to use on our Chef Server due to certain .msi packages need to require .NET package framework to run/install.  But, I encountered this when run this cookbook.  It keeps saying unable to satisfy constraints on package windows.  For instance, a .msi package requires to have .NET framework version 2.0 to run.

The machine/node I am using is a Window

[2019-07-17 15:06] Stromweld opened #96 "add .net 4.8 support"
Feature request
https://dotnet.microsoft.com/download/dotnet-framework/net48

[2019-12-11 09:50] bartvff commented on #96
Hello,
While waiting for this feature to be implemented, is it possible to use the cookbook to install .net 4.8 specifying custom `package_sources` or not?
If not, would it be possible to make an estimate as of when this feature will become available?
Thanks

[2020-01-31 14:49] jakauppila commented on #96
@Annih Where does #97 sit? I realize that PR only implements partial support for platforms.
Otherwise, I'd like to pick this up and finish it.

[2020-02-01 00:51] #90 closed

[2020-06-25 15:20] compuguy commented on #96
It looks to me that PR #97 *should* work with Windows Server 2012R2, Windows 7, WIndows 8.1, Windows 10 & Server 2016 builds 1607, 1709, 1803, and Windows 10 build 1703 via the offline installer provided here (https://support.microsoft.com/en-us/help/4503548/microsoft-net-framework-4-8-offline-installer-for-windows).

[2021-09-10 07:54] damfle commented on #96
Should work for mosts Windows versions with PR #98 .

[2021-09-12 14:14] BenAkor opened #99 "Download path to .Net 4.7.2 has changed"
The download path to .net 4.7.2 has changed to https://download.visualstudio.microsoft.com/download/pr/1f5af042-d0e4-4002-9c59-9ba66bcf15f6/089f837de42708daacaae7c04b7494db/ndp472-kb4054530-x86-x64-allos-enu.exe.

The current path in [here](https://github.com/criteo-cookbooks/ms_dotnet/blob/3a444d1c5b26c186da8227f6e281e8984fbe0832/libraries/package_helper.rb#L111) needs to be adjusted to the new p

[2021-09-25 17:27] Annih commented on #95
Hello @cp713a ,
Sorry for the long delay, I hope you have been able to fix your issue since you posted it.

It seems you use the term "package" for chef-cookbooks. your issue is that Chef is unable to find the `windows` cookbook; you may need to upload it to your chef server.
The method to do so depends on your cookbook management - berkshelf, policyfile, etc.

Anyway I don't think this is an issu

[2021-09-25 17:27] #95 closed

[2021-09-25 17:29] Annih commented on #99
Fixed by #101; it will be released soon.

[2021-09-25 17:29] #99 closed

[2021-09-25 17:29] Annih commented on #96
A new version is going to be release soon; sorry for the delay!

[2021-09-25 17:29] #96 closed

[2021-11-16 09:01] BenAkor commented on #99
@Annih This is yet to be release and it is causing alot of broken pipelines. Can it be released?

[2021-11-16 09:04] BenAkor commented on #99
The version and changelog were not bumped up.

[2021-11-16 11:42] BenAkor opened #105 "Version not updated and broken links still available"
The metadata has not been updated hence the broken links are still in the cookbook package helper in the chef supermarket. Could you please update the version and push the new cookbook version to the chef supermarket?

[2021-11-28 21:44] Annih commented on #105
Hello @BenAkor thanks for the report, please be assured we are working on this, we need to fix the CI first then we'll release a new version with the fix.

[2021-12-22 20:25] jakauppila commented on #105
@Annih Is #106 the last thing you're waiting on before cutting a new release?

[2022-01-12 13:24] Annih commented on #105
Hello @jakauppila yes! sorry about that huge delay!

[2022-01-19 20:52] jakauppila commented on #105
Hi @Annih I see that PR has been merged, any chance for a new release to be published?

[2022-02-14 13:22] #105 closed

[2022-02-14 13:25] #36 closed

[2022-02-14 13:26] Annih commented on #81
Closing for inactivity

[2022-02-14 13:26] #81 closed

[2022-05-17 14:45] KenzoB73 opened #108 ".Net 4.8 incorrectly detected as installed"
I'm attempting to use this cookbook on Windows Server 2019 (I know it's not in the supported OS list).  I have a 2019 server that does not yet have v4.8 installed.  I run this cookbook on it, it thinks it is already installed (up -to-date).  More of a request than an issue.  Otherwise, great cookbook!  Works amazing on Server 2016.